<body>
    <h1>Scary Boo presents: </h1>
    <h2>An ofer to die better...</h2>
    <div class="body-div">
        <div>

            <div id="public-info" class="white info">
                <h3>What you should know:</h3>
                <p>some public info goes here</p>
            </div>


            <div class="white info">
                <h3>Where and when?</h3>
                {{#if secretInfo}}
                <p>{{secretInfo}}</p>
                {{else}}
                <p>Log in to get more details</p>
                {{/if}}

            </div>
        </div>

        <div class="white">
            <span>Register You!</span>
            <form class="div-form" id="form" action="/signup" method="POST">
                <label for="name">NAME</label>
                <input type="text" name="name" placeholder="Your name">
                <label for="mail">EMAIL</label>
                <input type="email" name="mail" placeholder="Your email">
                <label for="city">CITY</label>
                <input type="text" name="city" placeholder="City">
                <label for="phone">PHONE</label>
                <input type="text" name="phone" placeholder="Your Phone">
                <button type="submit"> CREATE </button>
                {{#if errorMessage}}
                <div>{{ errorMessage }}</div>
                {{/if}}
            </form>
        </div>
    </div>
</body>