*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/bgimg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #FE8210;
  height: 100vh;
}

h1{
  font-size: 64px;
  text-align: center;
}
h2{
  font-size: 30px;
  text-align: center;
  margin: 5vh 0 5vh;
}

.body-div{
  display: flex;
  justify-content: space-around;
}

.body-div div div{
  margin-bottom: 30px;
}
.cont-info {
  flex-direction: row;
  justify-content: space-between;
}

.div-form{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20vw;
}

.div-form input{
  padding: 4px;
  margin: 3px 0;
  border-radius: 5px;
  text-align: center;
}

.white{
  background-color: rgba(240, 255, 255, 0.150);
  padding: 3vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.div-form button{
  border-radius: 10px;
  border: none;
  background-color: #FE8210;
  padding: 5px;
  margin: 0 auto;
  margin-top: 10px;
  width: 40%;
}

.white span {
  font-weight: 100px;
  font-size: x-large;
}

#public-info{
  padding: 20px 30px;
  list-style:none;
}

.info h3{
  font-size: 20px;
  margin-bottom: 5px;
}

.disapear{
  background-image: url(../images/bgimg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  height: 100vh;
  width: 100%;
}
.gif{
width: 90px;
height: 140px;
}
